*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman';
    box-sizing: border-box;
}

body {
  margin: 0;
}

hr {
    border-left: 0px;
    border-right: 0px;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../assets/taylorbg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 16px;
}

ul li{
    display:inline-block;
}

ul li a{
    text-decoration: none;
    color:white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}

ul li a:hover{
    background-color: white;
    color: black;
}

ul li.active a{
    background-color: white;
    color: black;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.intro{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.intro h1{
    color:white;
    font-size: 70px;
}

.icon{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 50px;
}

.button{
    border: 1px solid white;
    padding: 5px 20px;
    color: white;
    transition: 0.5 ease;
    font-size: 18px;
    text-decoration: none;
}

.button:hover{
    background-color: white;
    color: black;
}

.sub{
    display: none;
    top: 6%;
    position: absolute;
    min-width: 220px;
    box-sizing: border-box;
}

.sub ul{
    position: absolute;
}

.main ul li:hover .sub{
    display: block;
    position: absolute;
    background-color: rgb(0, 45, 117);
    margin-top: 12px;
    margin-left: -8px;
}

.main ul li:hover .sub ul{
    display: block;
    margin: 8px;
}

.footer 
{
    align-items: center;
    padding: 5px 20%;
    background: black;
    color:white;
    white-space: nowrap;
} 
            
.footer div
{
    text-align: center;
}

.footerBottom
{
    background-color: black;
    padding: 1px;
}